{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block moreScripts %}
{% endblock moreScripts %}

{% block app_content %}

<div class="row h-75 mt-5">
  <div class="col-12 col-m-6 col-lg-6 col-xl-6 float-left image">
  </div>
  <div class="col-12 col-m-6 col-lg-6 col-xl-6 float-right ">
    <div class="container">
      <h2>Welcome back</h2>
    </div>
    <div class="container">
      <form action="{{url_for('auth.login')}}" method="post" class="form" role="form">
        {{ form.hidden_tag() }}
       <d1>
        {{ wtf.form_field(form.username, class='form-control') }}
          {% for error in form.username.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        {{ wtf.form_field(form.password, class='form-control password') }}
          {% for error in form.password.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
       </d1>
       <a cat="Login" title="Login"><input type=submit class='btn btn-dark text-white btn-block mt-2'></a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
