{% extends 'bootstrap/base.html' %}

{% block head %}
  {{ super() }}
      <link rel="icon" href="{{ url_for('static', filename='img/icon64.png') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/fontawesome-all.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta id="mix-panel-id" data-name="{{mpid}}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% block moreScripts %}{% endblock moreScripts %}
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Mark Gray{% else %}Welcome {% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{ url_for('main.blog') }}">Blog</a>
      <a class="nav-item nav-link" href="{{ url_for('main.career') }}">Career Journey</a>
      <a class="nav-item nav-link" href="{{ url_for('main.skills') }}">Skills</a>
      <a class="nav-item nav-link" href="{{ url_for('main.tools') }}">Tools</a>
      {% if current_user.is_authenticated %}
      <a class="nav-item nav-link" href="{{ url_for('admin.admin') }}">Admin</a>
      {% endif %}
    </div>
  </div>
</nav>

{% endblock %}

{% block content %}
<div class="gradient-background">

  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-dark" role="alert">{{ message }}</div>
      {% endfor %}
  {% endif %}
  {% endwith %}

</div>
<div class="section-two">

{% block app_content %}{% endblock %}
<!-- Footer -->




  <!-- Copyright -->

  <!-- End Copyright -->

<!-- End  Footer -->

<script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_IKh8TOziuEnYKTrzvTBPn4j7V1UpImhQLQVksOQ0Okv',{api_host:'https://app.posthog.com'})
</script>
{% endblock %}
