{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block moreScripts %}
{% endblock moreScripts %}

{% block app_content %}

<div class="container">
	<form action="{{url_for('admin.edit_blog_post', post_oid=post.oid)}}" method="post" class="form" role="form">
		{{ form.hidden_tag() }}
	 <d1>
		{{ wtf.form_field(form.title, class='form-control') }}
			{% for error in form.title.errors %}
			<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endfor %}
		{{ wtf.form_field(form.body, class='form-control') }}
			{% for error in form.body.errors %}
			<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endfor %}
	 </d1>
	 <a title="Post"><input type=submit class='btn btn-dark text-black btn-block mt-2'></a>
	</form>
</div>

{% endblock %}