{% extends "base.html" %}

{% block moreScripts %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
<script src="../static/js/main.js"></script>
{% endblock moreScripts %}

{% block app_content %}

<div class="container central-panel mx-auto">
	<div class="row pt-3">
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<div class="pic-container mx-auto">
				<img src="../static/img/me.jpeg" class="pic">
			</div>
			<div class="details container mx-auto">
				<div class="name">Mark Gray</div>
				<div class="summary">Senior Product Manager in Southampton, UK</div>
			</div>
			<div class="container profiles-container">
				<a href="https://www.linkedin.com/in/mark-gray-79b40834/" title="LinkedIn" class="btn btn-linkedin btn-lg track" target="_blank" trackname="LinkedIn"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<div class="container about-me-blurb">
				<p>Product leader with 10 years of experience in B2B and B2C product roles working with scrum teams and leading product verticals. Passionate about the impact of empowered product teams on growth. Strong mix of technical and people skills. Accountable leader; clear communicator. </p>
				<p>I built this website as a place to write about my career and the world of product management but primarily as a playground for testing out my development and design skills. If you are from a tech background, bear in mind that I am not. If you are from a design background, I can only apologise.</p>
			</div>
			<div class="cta">
				<a href="https://github.com/thekitbag/markfgray" target="_blank"><button type="button" class="btn btn-outline-info cta-button track" trackname='View Code'>View Code on Github</button></a>
			</div>
			<div class="cta">
				<a href="/career"><button type="button" class="btn btn-outline-primary cta-button track" id='abc' trackname='My Career'>My Career</button></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
