{% extends "base.html" %}

{% block moreScripts %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/skills.css') }}">
{% endblock moreScripts %}

{% block app_content %}

<div class="container central-panel mx-auto">
	<div class="row">
		<div class="col-6">
			<div class="skilltype-header">
				<h4>Soft Skills</h4>
			</div>
			<div class="wordcloud" id="soft-skills-cloud">
				<img src="data:image/png;base64,{{soft_skills_cloud}}">
			</div>
		</div>
		<div class="col-6">
			<div class="skilltype-header">
				<h4>Hard Skills</h4>
			</div>
			<div class="wordcloud" id="hard-skills-cloud">
				<img src="data:image/png;base64,{{hard_skills_cloud}}">
			</div>
		</div>
	</div>
</div>

{% endblock %}