{% extends "base.html" %}

{% block moreScripts %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/tools.css') }}">
{% endblock moreScripts %}

{% block app_content %}

<div class="container central-panel mx-auto">
	<div class="row">
		<div class="col-12">
			<div class="container logos-container">
				<div class="row">
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/aha_logo.png" class="logo" id="aha-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/balsamiq_logo.png" class="logo" id="balsamiq-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/bigquery_logo.png" class="logo" id="bigquery-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/confluence_logo.png" class="logo" id="confluence-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/ga_logo.png" class="logo" id="ga-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/github_logo.jpeg" class="logo" id="github-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/gitlab_logo.jpeg" class="logo" id="gitlab-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/jira_logo.png" class="logo" id="jira-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/miro_logo.png" class="logo" id="miro-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/monday_logo.png" class="logo" id="monday-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/mongo_logo.png" class="logo" id="mongo-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/office_logo.png" class="logo" id="office-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/splunk_logo.png" class="logo" id="splunk-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/sublime_logo.png" class="logo" id="sublime-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/tableau_logo.png" class="logo" id="tableau-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/tealium_logo.png" class="logo" id="tealium-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/teams_logo.png" class="logo" id="teams-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/trello_logo.png" class="logo" id="trello-logo">
					</div>
					<div class="col-6 col-sm-4 col-md-3 text-align-center logo-col">
						<img src="../../static/img/usertesting_logo.svg" class="logo" id="usertesting-logo">
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>

{% endblock %}