.navbar {
	background-image: linear-gradient(to right, #e66465, #9198e5);
}

.gradient-background {
	width:100%;
	height: 400px;
	background-image: linear-gradient(to right, #e66465, #9198e5);
}

.section-two {
	height: 300px;
	width: 100%;
	background-color: whitesmoke;
}

.central-panel {
	height: fit-content;
	width: 85%;
	position: relative;
	top: 60px;
	background-color: white;
	border-radius: 10px;
	min-width: 200px;
	padding-bottom: 14px;
}

.top-panel {
	margin: 10px 0px 10px 0px;
}
